
<div>
    <h2><span translate="reachoutApp.category.detail.title">Category</span> {{vm.category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.category.created">Created</span></dt>
        <dd>
            <span>{{vm.category.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.category.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.category.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.category.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.category.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.category.version">Version</span></dt>
        <dd>
            <span>{{vm.category.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.category.name">Name</span></dt>
        <dd>
            <span>{{vm.category.name}}</span>
        </dd>
        <dt><span translate="reachoutApp.category.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{vm.category.imageUrl}}</span>
        </dd>
        <dt><span translate="reachoutApp.category.description">Description</span></dt>
        <dd>
            <span>{{vm.category.description}}</span>
        </dd>
        <dt><span translate="reachoutApp.category.parentId">Parent Id</span></dt>
        <dd>
            <span>{{vm.category.parentId}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
