<div>
    <h2 translate="reachoutApp.location.home.title">Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="location.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.location.home.createLabel">
                        Create new Location
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.location.created">Created</span></th>
                    <th><span translate="reachoutApp.location.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.location.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.location.version">Version</span></th>
                    <th><span translate="reachoutApp.location.type">Type</span></th>
                    <th><span translate="reachoutApp.location.latitude">Latitude</span></th>
                    <th><span translate="reachoutApp.location.longitude">Longitude</span></th>
                    <th><span translate="reachoutApp.location.coordinates">Coordinates</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in vm.locations track by location.id">
                    <td><a ui-sref="location-detail({id:location.id})">{{location.id}}</a></td>
                    <td>{{location.created | date:'medium'}}</td>
                    <td>{{location.deleted}}</td>
                    <td>{{location.lastUpdate | date:'medium'}}</td>
                    <td>{{location.version}}</td>
                    <td>{{location.type}}</td>
                    <td>{{location.latitude}}</td>
                    <td>{{location.longitude}}</td>
                    <td>{{location.coordinates}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-detail({id:location.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.edit({id:location.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.delete({id:location.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
