
<div>
    <h2><span translate="reachoutApp.location.detail.title">Location</span> {{vm.location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.location.created">Created</span></dt>
        <dd>
            <span>{{vm.location.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.location.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.location.deleted}}</span>
        </dd>
        <dt><span translate="reachoutApp.location.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.location.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.location.version">Version</span></dt>
        <dd>
            <span>{{vm.location.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.location.type">Type</span></dt>
        <dd>
            <span>{{vm.location.type}}</span>
        </dd>
        <dt><span translate="reachoutApp.location.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.location.latitude}}</span>
        </dd>
        <dt><span translate="reachoutApp.location.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.location.longitude}}</span>
        </dd>
        <dt><span translate="reachoutApp.location.coordinates">Coordinates</span></dt>
        <dd>
            <span>{{vm.location.coordinates}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
