<div>
    <h2 translate="reachoutApp.transaction.home.title">Transactions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="transaction.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.transaction.home.createLabel">
                        Create new Transaction
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.transaction.created">Created</span></th>
                    <th><span translate="reachoutApp.transaction.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.transaction.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.transaction.version">Version</span></th>
                    <th><span translate="reachoutApp.transaction.orderId">Order Id</span></th>
                    <th><span translate="reachoutApp.transaction.trackingId">Tracking Id</span></th>
                    <th><span translate="reachoutApp.transaction.bankReferenceNumber">Bank Reference Number</span></th>
                    <th><span translate="reachoutApp.transaction.orderStatus">Order Status</span></th>
                    <th><span translate="reachoutApp.transaction.failureMessage">Failure Message</span></th>
                    <th><span translate="reachoutApp.transaction.paymentMode">Payment Mode</span></th>
                    <th><span translate="reachoutApp.transaction.cardName">Card Name</span></th>
                    <th><span translate="reachoutApp.transaction.statusCode">Status Code</span></th>
                    <th><span translate="reachoutApp.transaction.statusMessage">Status Message</span></th>
                    <th><span translate="reachoutApp.transaction.amount">Amount</span></th>
                    <th><span translate="reachoutApp.transaction.providerId">Provider Id</span></th>
                    <th><span translate="reachoutApp.transaction.vault">Vault</span></th>
                    <th><span translate="reachoutApp.transaction.offerType">Offer Type</span></th>
                    <th><span translate="reachoutApp.transaction.offerCode">Offer Code</span></th>
                    <th><span translate="reachoutApp.transaction.discountValue">Discount Value</span></th>
                    <th><span translate="reachoutApp.transaction.merchantAmount">Merchant Amount</span></th>
                    <th><span translate="reachoutApp.transaction.eciValue">Eci Value</span></th>
                    <th><span translate="reachoutApp.transaction.retry">Retry</span></th>
                    <th><span translate="reachoutApp.transaction.transactionDate">Transaction Date</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in vm.transactions track by transaction.id">
                    <td><a ui-sref="transaction-detail({id:transaction.id})">{{transaction.id}}</a></td>
                    <td>{{transaction.created | date:'medium'}}</td>
                    <td>{{transaction.deleted | date:'medium'}}</td>
                    <td>{{transaction.lastUpdate | date:'medium'}}</td>
                    <td>{{transaction.version}}</td>
                    <td>{{transaction.orderId}}</td>
                    <td>{{transaction.trackingId}}</td>
                    <td>{{transaction.bankReferenceNumber}}</td>
                    <td>{{transaction.orderStatus}}</td>
                    <td>{{transaction.failureMessage}}</td>
                    <td>{{transaction.paymentMode}}</td>
                    <td>{{transaction.cardName}}</td>
                    <td>{{transaction.statusCode}}</td>
                    <td>{{transaction.statusMessage}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.providerId}}</td>
                    <td>{{transaction.vault}}</td>
                    <td>{{transaction.offerType}}</td>
                    <td>{{transaction.offerCode}}</td>
                    <td>{{transaction.discountValue}}</td>
                    <td>{{transaction.merchantAmount}}</td>
                    <td>{{transaction.eciValue}}</td>
                    <td>{{transaction.retry}}</td>
                    <td>{{transaction.transactionDate | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="transaction-detail({id:transaction.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transaction.edit({id:transaction.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transaction.delete({id:transaction.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
