
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTransactionLabel" translate="reachoutApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.transaction.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.transaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.transaction.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.transaction.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.transaction.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.transaction.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.orderId" for="field_orderId">Order Id</label>
            <input type="text" class="form-control" name="orderId" id="field_orderId"
                    ng-model="vm.transaction.orderId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.trackingId" for="field_trackingId">Tracking Id</label>
            <input type="text" class="form-control" name="trackingId" id="field_trackingId"
                    ng-model="vm.transaction.trackingId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.bankReferenceNumber" for="field_bankReferenceNumber">Bank Reference Number</label>
            <input type="text" class="form-control" name="bankReferenceNumber" id="field_bankReferenceNumber"
                    ng-model="vm.transaction.bankReferenceNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.orderStatus" for="field_orderStatus">Order Status</label>
            <input type="text" class="form-control" name="orderStatus" id="field_orderStatus"
                    ng-model="vm.transaction.orderStatus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.failureMessage" for="field_failureMessage">Failure Message</label>
            <input type="text" class="form-control" name="failureMessage" id="field_failureMessage"
                    ng-model="vm.transaction.failureMessage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.paymentMode" for="field_paymentMode">Payment Mode</label>
            <input type="text" class="form-control" name="paymentMode" id="field_paymentMode"
                    ng-model="vm.transaction.paymentMode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.cardName" for="field_cardName">Card Name</label>
            <input type="text" class="form-control" name="cardName" id="field_cardName"
                    ng-model="vm.transaction.cardName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.statusCode" for="field_statusCode">Status Code</label>
            <input type="text" class="form-control" name="statusCode" id="field_statusCode"
                    ng-model="vm.transaction.statusCode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.statusMessage" for="field_statusMessage">Status Message</label>
            <input type="text" class="form-control" name="statusMessage" id="field_statusMessage"
                    ng-model="vm.transaction.statusMessage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.transaction.amount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.providerId" for="field_providerId">Provider Id</label>
            <input type="text" class="form-control" name="providerId" id="field_providerId"
                    ng-model="vm.transaction.providerId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.vault" for="field_vault">Vault</label>
            <input type="text" class="form-control" name="vault" id="field_vault"
                    ng-model="vm.transaction.vault"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.offerType" for="field_offerType">Offer Type</label>
            <input type="text" class="form-control" name="offerType" id="field_offerType"
                    ng-model="vm.transaction.offerType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.offerCode" for="field_offerCode">Offer Code</label>
            <input type="text" class="form-control" name="offerCode" id="field_offerCode"
                    ng-model="vm.transaction.offerCode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.discountValue" for="field_discountValue">Discount Value</label>
            <input type="text" class="form-control" name="discountValue" id="field_discountValue"
                    ng-model="vm.transaction.discountValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.merchantAmount" for="field_merchantAmount">Merchant Amount</label>
            <input type="number" class="form-control" name="merchantAmount" id="field_merchantAmount"
                    ng-model="vm.transaction.merchantAmount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.eciValue" for="field_eciValue">Eci Value</label>
            <input type="text" class="form-control" name="eciValue" id="field_eciValue"
                    ng-model="vm.transaction.eciValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.retry" for="field_retry">Retry</label>
            <input type="checkbox" class="form-control" name="retry" id="field_retry"
                    ng-model="vm.transaction.retry"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.transaction.transactionDate" for="field_transactionDate">Transaction Date</label>
                <div class="input-group">
                    <input id="field_transactionDate" type="text" class="form-control" name="transactionDate" datetime-picker="{{dateformat}}" ng-model="vm.transaction.transactionDate" is-open="vm.datePickerOpenStatus.transactionDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('transactionDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
