
<div>
    <h2><span translate="reachoutApp.transaction.detail.title">Transaction</span> {{vm.transaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.transaction.created">Created</span></dt>
        <dd>
            <span>{{vm.transaction.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.transaction.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.transaction.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.version">Version</span></dt>
        <dd>
            <span>{{vm.transaction.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.orderId">Order Id</span></dt>
        <dd>
            <span>{{vm.transaction.orderId}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.trackingId">Tracking Id</span></dt>
        <dd>
            <span>{{vm.transaction.trackingId}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.bankReferenceNumber">Bank Reference Number</span></dt>
        <dd>
            <span>{{vm.transaction.bankReferenceNumber}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.orderStatus">Order Status</span></dt>
        <dd>
            <span>{{vm.transaction.orderStatus}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.failureMessage">Failure Message</span></dt>
        <dd>
            <span>{{vm.transaction.failureMessage}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.paymentMode">Payment Mode</span></dt>
        <dd>
            <span>{{vm.transaction.paymentMode}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.cardName">Card Name</span></dt>
        <dd>
            <span>{{vm.transaction.cardName}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.statusCode">Status Code</span></dt>
        <dd>
            <span>{{vm.transaction.statusCode}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.statusMessage">Status Message</span></dt>
        <dd>
            <span>{{vm.transaction.statusMessage}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.amount">Amount</span></dt>
        <dd>
            <span>{{vm.transaction.amount}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.providerId">Provider Id</span></dt>
        <dd>
            <span>{{vm.transaction.providerId}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.vault">Vault</span></dt>
        <dd>
            <span>{{vm.transaction.vault}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.offerType">Offer Type</span></dt>
        <dd>
            <span>{{vm.transaction.offerType}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.offerCode">Offer Code</span></dt>
        <dd>
            <span>{{vm.transaction.offerCode}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.discountValue">Discount Value</span></dt>
        <dd>
            <span>{{vm.transaction.discountValue}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.merchantAmount">Merchant Amount</span></dt>
        <dd>
            <span>{{vm.transaction.merchantAmount}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.eciValue">Eci Value</span></dt>
        <dd>
            <span>{{vm.transaction.eciValue}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.retry">Retry</span></dt>
        <dd>
            <span>{{vm.transaction.retry}}</span>
        </dd>
        <dt><span translate="reachoutApp.transaction.transactionDate">Transaction Date</span></dt>
        <dd>
            <span>{{vm.transaction.transactionDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
