
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNotificationAcknowledgementLabel" translate="reachoutApp.notificationAcknowledgement.home.createOrEditLabel">Create or edit a Notification Acknowledgement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.notificationAcknowledgement.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.notificationAcknowledgement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.notificationAcknowledgement.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.notificationAcknowledgement.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.notificationAcknowledgement.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.notificationAcknowledgement.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.read" for="field_read">Read</label>
                <div class="input-group">
                    <input id="field_read" type="text" class="form-control" name="read" datetime-picker="{{dateformat}}" ng-model="vm.notificationAcknowledgement.read" is-open="vm.datePickerOpenStatus.read"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('read')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.delivered" for="field_delivered">Delivered</label>
                <div class="input-group">
                    <input id="field_delivered" type="text" class="form-control" name="delivered" datetime-picker="{{dateformat}}" ng-model="vm.notificationAcknowledgement.delivered" is-open="vm.datePickerOpenStatus.delivered"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('delivered')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.sent" for="field_sent">Sent</label>
                <div class="input-group">
                    <input id="field_sent" type="text" class="form-control" name="sent" datetime-picker="{{dateformat}}" ng-model="vm.notificationAcknowledgement.sent" is-open="vm.datePickerOpenStatus.sent"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sent')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.visited" for="field_visited">Visited</label>
                <div class="input-group">
                    <input id="field_visited" type="text" class="form-control" name="visited" datetime-picker="{{dateformat}}" ng-model="vm.notificationAcknowledgement.visited" is-open="vm.datePickerOpenStatus.visited"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('visited')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.consumerId" for="field_consumerId">Consumer Id</label>
            <input type="text" class="form-control" name="consumerId" id="field_consumerId"
                    ng-model="vm.notificationAcknowledgement.consumerId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notificationAcknowledgement.notificationId" for="field_notificationId">Notification Id</label>
            <input type="text" class="form-control" name="notificationId" id="field_notificationId"
                    ng-model="vm.notificationAcknowledgement.notificationId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
