<div>
    <h2 translate="reachoutApp.notificationAcknowledgement.home.title">Notification Acknowledgements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="notification-acknowledgement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.notificationAcknowledgement.home.createLabel">
                        Create new Notification Acknowledgement
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.created">Created</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.version">Version</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.read">Read</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.delivered">Delivered</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.sent">Sent</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.visited">Visited</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.consumerId">Consumer Id</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.notificationId">Notification Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notificationAcknowledgement in vm.notificationAcknowledgements track by notificationAcknowledgement.id">
                    <td><a ui-sref="notification-acknowledgement-detail({id:notificationAcknowledgement.id})">{{notificationAcknowledgement.id}}</a></td>
                    <td>{{notificationAcknowledgement.created | date:'medium'}}</td>
                    <td>{{notificationAcknowledgement.deleted | date:'medium'}}</td>
                    <td>{{notificationAcknowledgement.lastUpdate | date:'medium'}}</td>
                    <td>{{notificationAcknowledgement.version}}</td>
                    <td>{{notificationAcknowledgement.read | date:'medium'}}</td>
                    <td>{{notificationAcknowledgement.delivered | date:'medium'}}</td>
                    <td>{{notificationAcknowledgement.sent | date:'medium'}}</td>
                    <td>{{notificationAcknowledgement.visited | date:'medium'}}</td>
                    <td>{{notificationAcknowledgement.consumerId}}</td>
                    <td>{{notificationAcknowledgement.notificationId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="notification-acknowledgement-detail({id:notificationAcknowledgement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-acknowledgement.edit({id:notificationAcknowledgement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-acknowledgement.delete({id:notificationAcknowledgement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
