
<div>
    <h2><span translate="reachoutApp.notificationAcknowledgement.detail.title">Notification Acknowledgement</span> {{vm.notificationAcknowledgement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.notificationAcknowledgement.created">Created</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.version">Version</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.read">Read</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.read | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.delivered">Delivered</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.delivered | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.sent">Sent</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.sent | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.visited">Visited</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.visited | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.consumerId">Consumer Id</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.consumerId}}</span>
        </dd>
        <dt><span translate="reachoutApp.notificationAcknowledgement.notificationId">Notification Id</span></dt>
        <dd>
            <span>{{vm.notificationAcknowledgement.notificationId}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
