
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNotificationLabel" translate="reachoutApp.notification.home.createOrEditLabel">Create or edit a Notification</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.notification.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.notification.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.notification.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.notification.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.notification.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.notification.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                    ng-model="vm.notification.category"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.notification.title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.notification.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.offensive" for="field_offensive">Offensive</label>
            <input type="checkbox" class="form-control" name="offensive" id="field_offensive"
                    ng-model="vm.notification.offensive"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                    ng-model="vm.notification.imageUrl"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.allowCalls" for="field_allowCalls">Allow Calls</label>
            <input type="checkbox" class="form-control" name="allowCalls" id="field_allowCalls"
                    ng-model="vm.notification.allowCalls"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.showLocation" for="field_showLocation">Show Location</label>
            <input type="checkbox" class="form-control" name="showLocation" id="field_showLocation"
                    ng-model="vm.notification.showLocation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.approved" for="field_approved">Approved</label>
                <div class="input-group">
                    <input id="field_approved" type="text" class="form-control" name="approved" datetime-picker="{{dateformat}}" ng-model="vm.notification.approved" is-open="vm.datePickerOpenStatus.approved"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('approved')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.radius" for="field_radius">Radius</label>
            <input type="number" class="form-control" name="radius" id="field_radius"
                    ng-model="vm.notification.radius"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.freeCreditsUsed" for="field_freeCreditsUsed">Free Credits Used</label>
            <input type="number" class="form-control" name="freeCreditsUsed" id="field_freeCreditsUsed"
                    ng-model="vm.notification.freeCreditsUsed"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.walletCreditsUsed" for="field_walletCreditsUsed">Wallet Credits Used</label>
            <input type="number" class="form-control" name="walletCreditsUsed" id="field_walletCreditsUsed"
                    ng-model="vm.notification.walletCreditsUsed"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.validFrom" for="field_validFrom">Valid From</label>
                <div class="input-group">
                    <input id="field_validFrom" type="text" class="form-control" name="validFrom" datetime-picker="{{dateformat}}" ng-model="vm.notification.validFrom" is-open="vm.datePickerOpenStatus.validFrom"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.validTo" for="field_validTo">Valid To</label>
                <div class="input-group">
                    <input id="field_validTo" type="text" class="form-control" name="validTo" datetime-picker="{{dateformat}}" ng-model="vm.notification.validTo" is-open="vm.datePickerOpenStatus.validTo"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validTo')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.notification.consumerId" for="field_consumerId">Consumer Id</label>
            <input type="text" class="form-control" name="consumerId" id="field_consumerId"
                    ng-model="vm.notification.consumerId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
