
<div>
    <h2><span translate="reachoutApp.notification.detail.title">Notification</span> {{vm.notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.notification.created">Created</span></dt>
        <dd>
            <span>{{vm.notification.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.notification.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.notification.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.version">Version</span></dt>
        <dd>
            <span>{{vm.notification.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.category">Category</span></dt>
        <dd>
            <span>{{vm.notification.category}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.title">Title</span></dt>
        <dd>
            <span>{{vm.notification.title}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.description">Description</span></dt>
        <dd>
            <span>{{vm.notification.description}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.offensive">Offensive</span></dt>
        <dd>
            <span>{{vm.notification.offensive}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{vm.notification.imageUrl}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.allowCalls">Allow Calls</span></dt>
        <dd>
            <span>{{vm.notification.allowCalls}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.showLocation">Show Location</span></dt>
        <dd>
            <span>{{vm.notification.showLocation}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.approved">Approved</span></dt>
        <dd>
            <span>{{vm.notification.approved | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.radius">Radius</span></dt>
        <dd>
            <span>{{vm.notification.radius}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.freeCreditsUsed">Free Credits Used</span></dt>
        <dd>
            <span>{{vm.notification.freeCreditsUsed}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.walletCreditsUsed">Wallet Credits Used</span></dt>
        <dd>
            <span>{{vm.notification.walletCreditsUsed}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.validFrom">Valid From</span></dt>
        <dd>
            <span>{{vm.notification.validFrom | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.validTo">Valid To</span></dt>
        <dd>
            <span>{{vm.notification.validTo | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.notification.consumerId">Consumer Id</span></dt>
        <dd>
            <span>{{vm.notification.consumerId}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
