<div>
    <h2 translate="reachoutApp.notification.home.title">Notifications</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="notification.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.notification.home.createLabel">
                        Create new Notification
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.notification.created">Created</span></th>
                    <th><span translate="reachoutApp.notification.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.notification.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.notification.version">Version</span></th>
                    <th><span translate="reachoutApp.notification.category">Category</span></th>
                    <th><span translate="reachoutApp.notification.title">Title</span></th>
                    <th><span translate="reachoutApp.notification.description">Description</span></th>
                    <th><span translate="reachoutApp.notification.offensive">Offensive</span></th>
                    <th><span translate="reachoutApp.notification.imageUrl">Image Url</span></th>
                    <th><span translate="reachoutApp.notification.allowCalls">Allow Calls</span></th>
                    <th><span translate="reachoutApp.notification.showLocation">Show Location</span></th>
                    <th><span translate="reachoutApp.notification.approved">Approved</span></th>
                    <th><span translate="reachoutApp.notification.radius">Radius</span></th>
                    <th><span translate="reachoutApp.notification.freeCreditsUsed">Free Credits Used</span></th>
                    <th><span translate="reachoutApp.notification.walletCreditsUsed">Wallet Credits Used</span></th>
                    <th><span translate="reachoutApp.notification.validFrom">Valid From</span></th>
                    <th><span translate="reachoutApp.notification.validTo">Valid To</span></th>
                    <th><span translate="reachoutApp.notification.consumerId">Consumer Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notification in vm.notifications track by notification.id">
                    <td><a ui-sref="notification-detail({id:notification.id})">{{notification.id}}</a></td>
                    <td>{{notification.created | date:'medium'}}</td>
                    <td>{{notification.deleted | date:'medium'}}</td>
                    <td>{{notification.lastUpdate | date:'medium'}}</td>
                    <td>{{notification.version}}</td>
                    <td>{{notification.category}}</td>
                    <td>{{notification.title}}</td>
                    <td>{{notification.description}}</td>
                    <td>{{notification.offensive}}</td>
                    <td>{{notification.imageUrl}}</td>
                    <td>{{notification.allowCalls}}</td>
                    <td>{{notification.showLocation}}</td>
                    <td>{{notification.approved | date:'medium'}}</td>
                    <td>{{notification.radius}}</td>
                    <td>{{notification.freeCreditsUsed}}</td>
                    <td>{{notification.walletCreditsUsed}}</td>
                    <td>{{notification.validFrom | date:'medium'}}</td>
                    <td>{{notification.validTo | date:'medium'}}</td>
                    <td>{{notification.consumerId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="notification-detail({id:notification.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification.edit({id:notification.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification.delete({id:notification.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
