<div>
    <h2 translate="reachoutApp.contentMetadata.home.title">Content Metadata</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="content-metadata.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.contentMetadata.home.createLabel">
                        Create new Content Metadata
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.contentMetadata.created">Created</span></th>
                    <th><span translate="reachoutApp.contentMetadata.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.contentMetadata.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.contentMetadata.version">Version</span></th>
                    <th><span translate="reachoutApp.contentMetadata.signature">Signature</span></th>
                    <th><span translate="reachoutApp.contentMetadata.format">Format</span></th>
                    <th><span translate="reachoutApp.contentMetadata.type">Type</span></th>
                    <th><span translate="reachoutApp.contentMetadata.imageVersion">Image Version</span></th>
                    <th><span translate="reachoutApp.contentMetadata.url">Url</span></th>
                    <th><span translate="reachoutApp.contentMetadata.tags">Tags</span></th>
                    <th><span translate="reachoutApp.contentMetadata.bytes">Bytes</span></th>
                    <th><span translate="reachoutApp.contentMetadata.width">Width</span></th>
                    <th><span translate="reachoutApp.contentMetadata.height">Height</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contentMetadata in vm.contentMetadata track by contentMetadata.id">
                    <td><a ui-sref="content-metadata-detail({id:contentMetadata.id})">{{contentMetadata.id}}</a></td>
                    <td>{{contentMetadata.created | date:'medium'}}</td>
                    <td>{{contentMetadata.deleted | date:'medium'}}</td>
                    <td>{{contentMetadata.lastUpdate | date:'medium'}}</td>
                    <td>{{contentMetadata.version}}</td>
                    <td>{{contentMetadata.signature}}</td>
                    <td>{{contentMetadata.format}}</td>
                    <td>{{contentMetadata.type}}</td>
                    <td>{{contentMetadata.imageVersion}}</td>
                    <td>{{contentMetadata.url}}</td>
                    <td>{{contentMetadata.tags}}</td>
                    <td>{{contentMetadata.bytes}}</td>
                    <td>{{contentMetadata.width}}</td>
                    <td>{{contentMetadata.height}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="content-metadata-detail({id:contentMetadata.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="content-metadata.edit({id:contentMetadata.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="content-metadata.delete({id:contentMetadata.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
