
<div>
    <h2><span translate="reachoutApp.contentMetadata.detail.title">Content Metadata</span> {{vm.contentMetadata.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.contentMetadata.created">Created</span></dt>
        <dd>
            <span>{{vm.contentMetadata.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.contentMetadata.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.contentMetadata.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.version">Version</span></dt>
        <dd>
            <span>{{vm.contentMetadata.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.signature">Signature</span></dt>
        <dd>
            <span>{{vm.contentMetadata.signature}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.format">Format</span></dt>
        <dd>
            <span>{{vm.contentMetadata.format}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.type">Type</span></dt>
        <dd>
            <span>{{vm.contentMetadata.type}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.imageVersion">Image Version</span></dt>
        <dd>
            <span>{{vm.contentMetadata.imageVersion}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.url">Url</span></dt>
        <dd>
            <span>{{vm.contentMetadata.url}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.tags">Tags</span></dt>
        <dd>
            <span>{{vm.contentMetadata.tags}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.bytes">Bytes</span></dt>
        <dd>
            <span>{{vm.contentMetadata.bytes}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.width">Width</span></dt>
        <dd>
            <span>{{vm.contentMetadata.width}}</span>
        </dd>
        <dt><span translate="reachoutApp.contentMetadata.height">Height</span></dt>
        <dd>
            <span>{{vm.contentMetadata.height}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
