
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContentMetadataLabel" translate="reachoutApp.contentMetadata.home.createOrEditLabel">Create or edit a Content Metadata</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contentMetadata.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contentMetadata.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.contentMetadata.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.contentMetadata.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.contentMetadata.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.contentMetadata.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.signature" for="field_signature">Signature</label>
            <input type="text" class="form-control" name="signature" id="field_signature"
                    ng-model="vm.contentMetadata.signature"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.format" for="field_format">Format</label>
            <input type="text" class="form-control" name="format" id="field_format"
                    ng-model="vm.contentMetadata.format"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.contentMetadata.type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.imageVersion" for="field_imageVersion">Image Version</label>
            <input type="text" class="form-control" name="imageVersion" id="field_imageVersion"
                    ng-model="vm.contentMetadata.imageVersion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.contentMetadata.url"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.tags" for="field_tags">Tags</label>
            <input type="text" class="form-control" name="tags" id="field_tags"
                    ng-model="vm.contentMetadata.tags"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.bytes" for="field_bytes">Bytes</label>
            <input type="text" class="form-control" name="bytes" id="field_bytes"
                    ng-model="vm.contentMetadata.bytes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.width" for="field_width">Width</label>
            <input type="text" class="form-control" name="width" id="field_width"
                    ng-model="vm.contentMetadata.width"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.contentMetadata.height" for="field_height">Height</label>
            <input type="text" class="form-control" name="height" id="field_height"
                    ng-model="vm.contentMetadata.height"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
