
<div>
    <h2><span translate="reachoutApp.privateMessage.detail.title">Private Message</span> {{vm.privateMessage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.privateMessage.created">Created</span></dt>
        <dd>
            <span>{{vm.privateMessage.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.privateMessage.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.privateMessage.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.version">Version</span></dt>
        <dd>
            <span>{{vm.privateMessage.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.message">Message</span></dt>
        <dd>
            <span>{{vm.privateMessage.message}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.read">Read</span></dt>
        <dd>
            <span>{{vm.privateMessage.read | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.delivered">Delivered</span></dt>
        <dd>
            <span>{{vm.privateMessage.delivered | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.notificationId">Notification Id</span></dt>
        <dd>
            <span>{{vm.privateMessage.notificationId}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.senderId">Sender Id</span></dt>
        <dd>
            <span>{{vm.privateMessage.senderId}}</span>
        </dd>
        <dt><span translate="reachoutApp.privateMessage.receiverId">Receiver Id</span></dt>
        <dd>
            <span>{{vm.privateMessage.receiverId}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
