<div>
    <h2 translate="reachoutApp.privateMessage.home.title">Private Messages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="private-message.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.privateMessage.home.createLabel">
                        Create new Private Message
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.privateMessage.created">Created</span></th>
                    <th><span translate="reachoutApp.privateMessage.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.privateMessage.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.privateMessage.version">Version</span></th>
                    <th><span translate="reachoutApp.privateMessage.message">Message</span></th>
                    <th><span translate="reachoutApp.privateMessage.read">Read</span></th>
                    <th><span translate="reachoutApp.privateMessage.delivered">Delivered</span></th>
                    <th><span translate="reachoutApp.privateMessage.notificationId">Notification Id</span></th>
                    <th><span translate="reachoutApp.privateMessage.senderId">Sender Id</span></th>
                    <th><span translate="reachoutApp.privateMessage.receiverId">Receiver Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="privateMessage in vm.privateMessages track by privateMessage.id">
                    <td><a ui-sref="private-message-detail({id:privateMessage.id})">{{privateMessage.id}}</a></td>
                    <td>{{privateMessage.created | date:'medium'}}</td>
                    <td>{{privateMessage.deleted | date:'medium'}}</td>
                    <td>{{privateMessage.lastUpdate | date:'medium'}}</td>
                    <td>{{privateMessage.version}}</td>
                    <td>{{privateMessage.message}}</td>
                    <td>{{privateMessage.read | date:'medium'}}</td>
                    <td>{{privateMessage.delivered | date:'medium'}}</td>
                    <td>{{privateMessage.notificationId}}</td>
                    <td>{{privateMessage.senderId}}</td>
                    <td>{{privateMessage.receiverId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="private-message-detail({id:privateMessage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="private-message.edit({id:privateMessage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="private-message.delete({id:privateMessage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
