
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPrivateMessageLabel" translate="reachoutApp.privateMessage.home.createOrEditLabel">Create or edit a Private Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.privateMessage.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.privateMessage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.privateMessage.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.privateMessage.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.privateMessage.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.privateMessage.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="vm.privateMessage.message"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.read" for="field_read">Read</label>
                <div class="input-group">
                    <input id="field_read" type="text" class="form-control" name="read" datetime-picker="{{dateformat}}" ng-model="vm.privateMessage.read" is-open="vm.datePickerOpenStatus.read"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('read')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.delivered" for="field_delivered">Delivered</label>
                <div class="input-group">
                    <input id="field_delivered" type="text" class="form-control" name="delivered" datetime-picker="{{dateformat}}" ng-model="vm.privateMessage.delivered" is-open="vm.datePickerOpenStatus.delivered"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('delivered')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.notificationId" for="field_notificationId">Notification Id</label>
            <input type="text" class="form-control" name="notificationId" id="field_notificationId"
                    ng-model="vm.privateMessage.notificationId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.senderId" for="field_senderId">Sender Id</label>
            <input type="text" class="form-control" name="senderId" id="field_senderId"
                    ng-model="vm.privateMessage.senderId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.privateMessage.receiverId" for="field_receiverId">Receiver Id</label>
            <input type="text" class="form-control" name="receiverId" id="field_receiverId"
                    ng-model="vm.privateMessage.receiverId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
