<div>
    <h2 translate="reachoutApp.provider.home.title">Providers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="provider.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.provider.home.createLabel">
                        Create new Provider
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.provider.created">Created</span></th>
                    <th><span translate="reachoutApp.provider.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.provider.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.provider.version">Version</span></th>
                    <th><span translate="reachoutApp.provider.name">Name</span></th>
                    <th><span translate="reachoutApp.provider.mobile">Mobile</span></th>
                    <th><span translate="reachoutApp.provider.email">Email</span></th>
                    <th><span translate="reachoutApp.provider.address">Address</span></th>
                    <th><span translate="reachoutApp.provider.imageUrl">Image Url</span></th>
                    <th><span translate="reachoutApp.provider.promoCreatedDate">Promo Created Date</span></th>
                    <th><span translate="reachoutApp.provider.monthlyFreeCredits">Monthly Free Credits</span></th>
                    <th><span translate="reachoutApp.provider.walletCredits">Wallet Credits</span></th>
                    <th><span translate="reachoutApp.provider.eligibleForPromoCredit">Eligible For Promo Credit</span></th>
                    <th><span translate="reachoutApp.provider.active">Active</span></th>
                    <th><span translate="reachoutApp.provider.location">Location</span></th>
                    <th><span translate="reachoutApp.provider.consumerId">Consumer Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="provider in vm.providers track by provider.id">
                    <td><a ui-sref="provider-detail({id:provider.id})">{{provider.id}}</a></td>
                    <td>{{provider.created | date:'medium'}}</td>
                    <td>{{provider.deleted | date:'medium'}}</td>
                    <td>{{provider.lastUpdate | date:'medium'}}</td>
                    <td>{{provider.version}}</td>
                    <td>{{provider.name}}</td>
                    <td>{{provider.mobile}}</td>
                    <td>{{provider.email}}</td>
                    <td>{{provider.address}}</td>
                    <td>{{provider.imageUrl}}</td>
                    <td>{{provider.promoCreatedDate | date:'medium'}}</td>
                    <td>{{provider.monthlyFreeCredits}}</td>
                    <td>{{provider.walletCredits}}</td>
                    <td>{{provider.eligibleForPromoCredit}}</td>
                    <td>{{provider.active}}</td>
                    <td>{{provider.location}}</td>
                    <td>{{provider.consumerId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="provider-detail({id:provider.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="provider.edit({id:provider.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="provider.delete({id:provider.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
