
<div>
    <h2><span translate="reachoutApp.provider.detail.title">Provider</span> {{vm.provider.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.provider.created">Created</span></dt>
        <dd>
            <span>{{vm.provider.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.provider.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.provider.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.version">Version</span></dt>
        <dd>
            <span>{{vm.provider.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.name">Name</span></dt>
        <dd>
            <span>{{vm.provider.name}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.mobile">Mobile</span></dt>
        <dd>
            <span>{{vm.provider.mobile}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.email">Email</span></dt>
        <dd>
            <span>{{vm.provider.email}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.address">Address</span></dt>
        <dd>
            <span>{{vm.provider.address}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{vm.provider.imageUrl}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.promoCreatedDate">Promo Created Date</span></dt>
        <dd>
            <span>{{vm.provider.promoCreatedDate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.monthlyFreeCredits">Monthly Free Credits</span></dt>
        <dd>
            <span>{{vm.provider.monthlyFreeCredits}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.walletCredits">Wallet Credits</span></dt>
        <dd>
            <span>{{vm.provider.walletCredits}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.eligibleForPromoCredit">Eligible For Promo Credit</span></dt>
        <dd>
            <span>{{vm.provider.eligibleForPromoCredit}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.active">Active</span></dt>
        <dd>
            <span>{{vm.provider.active}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.location">Location</span></dt>
        <dd>
            <span>{{vm.provider.location}}</span>
        </dd>
        <dt><span translate="reachoutApp.provider.consumerId">Consumer Id</span></dt>
        <dd>
            <span>{{vm.provider.consumerId}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
