
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProviderLabel" translate="reachoutApp.provider.home.createOrEditLabel">Create or edit a Provider</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.provider.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.provider.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.provider.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.provider.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.provider.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.provider.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.provider.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="vm.provider.mobile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.provider.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.provider.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                    ng-model="vm.provider.imageUrl"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.promoCreatedDate" for="field_promoCreatedDate">Promo Created Date</label>
                <div class="input-group">
                    <input id="field_promoCreatedDate" type="text" class="form-control" name="promoCreatedDate" datetime-picker="{{dateformat}}" ng-model="vm.provider.promoCreatedDate" is-open="vm.datePickerOpenStatus.promoCreatedDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('promoCreatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.monthlyFreeCredits" for="field_monthlyFreeCredits">Monthly Free Credits</label>
            <input type="number" class="form-control" name="monthlyFreeCredits" id="field_monthlyFreeCredits"
                    ng-model="vm.provider.monthlyFreeCredits"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.walletCredits" for="field_walletCredits">Wallet Credits</label>
            <input type="number" class="form-control" name="walletCredits" id="field_walletCredits"
                    ng-model="vm.provider.walletCredits"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.eligibleForPromoCredit" for="field_eligibleForPromoCredit">Eligible For Promo Credit</label>
            <input type="checkbox" class="form-control" name="eligibleForPromoCredit" id="field_eligibleForPromoCredit"
                    ng-model="vm.provider.eligibleForPromoCredit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="vm.provider.active"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.provider.location"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.provider.consumerId" for="field_consumerId">Consumer Id</label>
            <input type="text" class="form-control" name="consumerId" id="field_consumerId"
                    ng-model="vm.provider.consumerId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
