
<div>
    <h2><span translate="reachoutApp.consumerFeedback.detail.title">Consumer Feedback</span> {{vm.consumerFeedback.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.consumerFeedback.created">Created</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.version">Version</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.comment">Comment</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.comment}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.likeDislike">Like Dislike</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.likeDislike}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.share">Share</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.share}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.favourite">Favourite</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.favourite}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.count">Count</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.count}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.notificationId">Notification Id</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.notificationId}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFeedback.consumerId">Consumer Id</span></dt>
        <dd>
            <span>{{vm.consumerFeedback.consumerId}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
