
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myConsumerFeedbackLabel" translate="reachoutApp.consumerFeedback.home.createOrEditLabel">Create or edit a Consumer Feedback</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.consumerFeedback.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.consumerFeedback.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.consumerFeedback.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.consumerFeedback.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.consumerFeedback.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.consumerFeedback.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.consumerFeedback.comment"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.likeDislike" for="field_likeDislike">Like Dislike</label>
            <input type="text" class="form-control" name="likeDislike" id="field_likeDislike"
                    ng-model="vm.consumerFeedback.likeDislike"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.share" for="field_share">Share</label>
            <input type="text" class="form-control" name="share" id="field_share"
                    ng-model="vm.consumerFeedback.share"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.favourite" for="field_favourite">Favourite</label>
            <input type="text" class="form-control" name="favourite" id="field_favourite"
                    ng-model="vm.consumerFeedback.favourite"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.count" for="field_count">Count</label>
            <input type="number" class="form-control" name="count" id="field_count"
                    ng-model="vm.consumerFeedback.count"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.notificationId" for="field_notificationId">Notification Id</label>
            <input type="text" class="form-control" name="notificationId" id="field_notificationId"
                    ng-model="vm.consumerFeedback.notificationId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFeedback.consumerId" for="field_consumerId">Consumer Id</label>
            <input type="text" class="form-control" name="consumerId" id="field_consumerId"
                    ng-model="vm.consumerFeedback.consumerId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
