<div>
    <h2 translate="reachoutApp.consumerFeedback.home.title">Consumer Feedbacks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="consumer-feedback.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.consumerFeedback.home.createLabel">
                        Create new Consumer Feedback
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.created">Created</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.version">Version</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.comment">Comment</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.likeDislike">Like Dislike</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.share">Share</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.favourite">Favourite</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.count">Count</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.notificationId">Notification Id</span></th>
                    <th><span translate="reachoutApp.consumerFeedback.consumerId">Consumer Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consumerFeedback in vm.consumerFeedbacks track by consumerFeedback.id">
                    <td><a ui-sref="consumer-feedback-detail({id:consumerFeedback.id})">{{consumerFeedback.id}}</a></td>
                    <td>{{consumerFeedback.created | date:'medium'}}</td>
                    <td>{{consumerFeedback.deleted | date:'medium'}}</td>
                    <td>{{consumerFeedback.lastUpdate | date:'medium'}}</td>
                    <td>{{consumerFeedback.version}}</td>
                    <td>{{consumerFeedback.comment}}</td>
                    <td>{{consumerFeedback.likeDislike}}</td>
                    <td>{{consumerFeedback.share}}</td>
                    <td>{{consumerFeedback.favourite}}</td>
                    <td>{{consumerFeedback.count}}</td>
                    <td>{{consumerFeedback.notificationId}}</td>
                    <td>{{consumerFeedback.consumerId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="consumer-feedback-detail({id:consumerFeedback.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consumer-feedback.edit({id:consumerFeedback.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consumer-feedback.delete({id:consumerFeedback.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
