
<div>
    <h2><span translate="reachoutApp.consumerFavourite.detail.title">Consumer Favourite</span> {{vm.consumerFavourite.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.consumerFavourite.created">Created</span></dt>
        <dd>
            <span>{{vm.consumerFavourite.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFavourite.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.consumerFavourite.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFavourite.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.consumerFavourite.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFavourite.version">Version</span></dt>
        <dd>
            <span>{{vm.consumerFavourite.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFavourite.consumerId">Consumer Id</span></dt>
        <dd>
            <span>{{vm.consumerFavourite.consumerId}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerFavourite.providerId">Provider Id</span></dt>
        <dd>
            <span>{{vm.consumerFavourite.providerId}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
