
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myConsumerFavouriteLabel" translate="reachoutApp.consumerFavourite.home.createOrEditLabel">Create or edit a Consumer Favourite</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.consumerFavourite.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.consumerFavourite.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFavourite.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.consumerFavourite.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFavourite.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.consumerFavourite.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFavourite.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.consumerFavourite.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFavourite.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.consumerFavourite.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFavourite.consumerId" for="field_consumerId">Consumer Id</label>
            <input type="text" class="form-control" name="consumerId" id="field_consumerId"
                    ng-model="vm.consumerFavourite.consumerId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumerFavourite.providerId" for="field_providerId">Provider Id</label>
            <input type="text" class="form-control" name="providerId" id="field_providerId"
                    ng-model="vm.consumerFavourite.providerId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
