<div>
    <h2 translate="reachoutApp.consumerFavourite.home.title">Consumer Favourites</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="consumer-favourite.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.consumerFavourite.home.createLabel">
                        Create new Consumer Favourite
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.consumerFavourite.created">Created</span></th>
                    <th><span translate="reachoutApp.consumerFavourite.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.consumerFavourite.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.consumerFavourite.version">Version</span></th>
                    <th><span translate="reachoutApp.consumerFavourite.consumerId">Consumer Id</span></th>
                    <th><span translate="reachoutApp.consumerFavourite.providerId">Provider Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consumerFavourite in vm.consumerFavourites track by consumerFavourite.id">
                    <td><a ui-sref="consumer-favourite-detail({id:consumerFavourite.id})">{{consumerFavourite.id}}</a></td>
                    <td>{{consumerFavourite.created | date:'medium'}}</td>
                    <td>{{consumerFavourite.deleted | date:'medium'}}</td>
                    <td>{{consumerFavourite.lastUpdate | date:'medium'}}</td>
                    <td>{{consumerFavourite.version}}</td>
                    <td>{{consumerFavourite.consumerId}}</td>
                    <td>{{consumerFavourite.providerId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="consumer-favourite-detail({id:consumerFavourite.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consumer-favourite.edit({id:consumerFavourite.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consumer-favourite.delete({id:consumerFavourite.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
