<div>
    <h2 translate="reachoutApp.consumer.home.title">Consumers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="consumer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.consumer.home.createLabel">
                        Create new Consumer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.consumer.created">Created</span></th>
                    <th><span translate="reachoutApp.consumer.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.consumer.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.consumer.version">Version</span></th>
                    <th><span translate="reachoutApp.consumer.name">Name</span></th>
                    <th><span translate="reachoutApp.consumer.mobile">Mobile</span></th>
                    <th><span translate="reachoutApp.consumer.email">Email</span></th>
                    <th><span translate="reachoutApp.consumer.status">Status</span></th>
                    <th><span translate="reachoutApp.consumer.active">Active</span></th>
                    <th><span translate="reachoutApp.consumer.otp">Otp</span></th>
                    <th><span translate="reachoutApp.consumer.otpCount">Otp Count</span></th>
                    <th><span translate="reachoutApp.consumer.deviceInfo">Device Info</span></th>
                    <th><span translate="reachoutApp.consumer.location">Location</span></th>
                    <th><span translate="reachoutApp.consumer.unsubscribeCategory">Unsubscribe Category</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consumer in vm.consumers track by consumer.id">
                    <td><a ui-sref="consumer-detail({id:consumer.id})">{{consumer.id}}</a></td>
                    <td>{{consumer.created | date:'medium'}}</td>
                    <td>{{consumer.deleted | date:'medium'}}</td>
                    <td>{{consumer.lastUpdate | date:'medium'}}</td>
                    <td>{{consumer.version}}</td>
                    <td>{{consumer.name}}</td>
                    <td>{{consumer.mobile}}</td>
                    <td>{{consumer.email}}</td>
                    <td>{{consumer.status}}</td>
                    <td>{{consumer.active}}</td>
                    <td>{{consumer.otp}}</td>
                    <td>{{consumer.otpCount}}</td>
                    <td>{{consumer.deviceInfo}}</td>
                    <td>{{consumer.location}}</td>
                    <td>{{consumer.unsubscribeCategory}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="consumer-detail({id:consumer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consumer.edit({id:consumer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consumer.delete({id:consumer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
