
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myConsumerLabel" translate="reachoutApp.consumer.home.createOrEditLabel">Create or edit a Consumer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.consumer.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.consumer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.consumer.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.consumer.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.consumer.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.consumer.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.consumer.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="vm.consumer.mobile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.consumer.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.consumer.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="vm.consumer.active"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.otp" for="field_otp">Otp</label>
            <input type="text" class="form-control" name="otp" id="field_otp"
                    ng-model="vm.consumer.otp"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.otpCount" for="field_otpCount">Otp Count</label>
            <input type="number" class="form-control" name="otpCount" id="field_otpCount"
                    ng-model="vm.consumer.otpCount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.deviceInfo" for="field_deviceInfo">Device Info</label>
            <input type="text" class="form-control" name="deviceInfo" id="field_deviceInfo"
                    ng-model="vm.consumer.deviceInfo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.consumer.location"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.consumer.unsubscribeCategory" for="field_unsubscribeCategory">Unsubscribe Category</label>
            <input type="text" class="form-control" name="unsubscribeCategory" id="field_unsubscribeCategory"
                    ng-model="vm.consumer.unsubscribeCategory"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
