
<div>
    <h2><span translate="reachoutApp.consumer.detail.title">Consumer</span> {{vm.consumer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.consumer.created">Created</span></dt>
        <dd>
            <span>{{vm.consumer.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.consumer.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.consumer.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.version">Version</span></dt>
        <dd>
            <span>{{vm.consumer.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.name">Name</span></dt>
        <dd>
            <span>{{vm.consumer.name}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.mobile">Mobile</span></dt>
        <dd>
            <span>{{vm.consumer.mobile}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.email">Email</span></dt>
        <dd>
            <span>{{vm.consumer.email}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.status">Status</span></dt>
        <dd>
            <span>{{vm.consumer.status}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.active">Active</span></dt>
        <dd>
            <span>{{vm.consumer.active}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.otp">Otp</span></dt>
        <dd>
            <span>{{vm.consumer.otp}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.otpCount">Otp Count</span></dt>
        <dd>
            <span>{{vm.consumer.otpCount}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.deviceInfo">Device Info</span></dt>
        <dd>
            <span>{{vm.consumer.deviceInfo}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.location">Location</span></dt>
        <dd>
            <span>{{vm.consumer.location}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumer.unsubscribeCategory">Unsubscribe Category</span></dt>
        <dd>
            <span>{{vm.consumer.unsubscribeCategory}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
