
<div>
    <h2><span translate="reachoutApp.applicationSettings.detail.title">Application Settings</span> {{vm.applicationSettings.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.applicationSettings.created">Created</span></dt>
        <dd>
            <span>{{vm.applicationSettings.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.applicationSettings.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.applicationSettings.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.applicationSettings.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.applicationSettings.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.applicationSettings.version">Version</span></dt>
        <dd>
            <span>{{vm.applicationSettings.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.applicationSettings.name">Name</span></dt>
        <dd>
            <span>{{vm.applicationSettings.name}}</span>
        </dd>
        <dt><span translate="reachoutApp.applicationSettings.value">Value</span></dt>
        <dd>
            <span>{{vm.applicationSettings.value}}</span>
        </dd>
        <dt><span translate="reachoutApp.applicationSettings.description">Description</span></dt>
        <dd>
            <span>{{vm.applicationSettings.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
