<div>
    <h2 translate="reachoutApp.applicationSettings.home.title">Application Settings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="application-settings.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.applicationSettings.home.createLabel">
                        Create new Application Settings
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.applicationSettings.created">Created</span></th>
                    <th><span translate="reachoutApp.applicationSettings.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.applicationSettings.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.applicationSettings.version">Version</span></th>
                    <th><span translate="reachoutApp.applicationSettings.name">Name</span></th>
                    <th><span translate="reachoutApp.applicationSettings.value">Value</span></th>
                    <th><span translate="reachoutApp.applicationSettings.description">Description</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="applicationSettings in vm.applicationSettings track by applicationSettings.id">
                    <td><a ui-sref="application-settings-detail({id:applicationSettings.id})">{{applicationSettings.id}}</a></td>
                    <td>{{applicationSettings.created | date:'medium'}}</td>
                    <td>{{applicationSettings.deleted | date:'medium'}}</td>
                    <td>{{applicationSettings.lastUpdate | date:'medium'}}</td>
                    <td>{{applicationSettings.version}}</td>
                    <td>{{applicationSettings.name}}</td>
                    <td>{{applicationSettings.value}}</td>
                    <td>{{applicationSettings.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="application-settings-detail({id:applicationSettings.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="application-settings.edit({id:applicationSettings.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="application-settings.delete({id:applicationSettings.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
