<div>
    <h2 translate="reachoutApp.consumerRegions.home.title">Consumer Regions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="consumer-regions.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.consumerRegions.home.createLabel">
                        Create new Consumer Regions
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.consumerRegions.created">Created</span></th>
                    <th><span translate="reachoutApp.consumerRegions.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.consumerRegions.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.consumerRegions.version">Version</span></th>
                    <th><span translate="reachoutApp.consumerRegions.consumerId">Consumer Id</span></th>
                    <th><span translate="reachoutApp.consumerRegions.region">Region</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consumerRegions in vm.consumerRegions track by consumerRegions.id">
                    <td><a ui-sref="consumer-regions-detail({id:consumerRegions.id})">{{consumerRegions.id}}</a></td>
                    <td>{{consumerRegions.created | date:'medium'}}</td>
                    <td>{{consumerRegions.deleted | date:'medium'}}</td>
                    <td>{{consumerRegions.lastUpdate | date:'medium'}}</td>
                    <td>{{consumerRegions.version}}</td>
                    <td>{{consumerRegions.consumerId}}</td>
                    <td>{{consumerRegions.region}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="consumer-regions-detail({id:consumerRegions.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consumer-regions.edit({id:consumerRegions.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consumer-regions.delete({id:consumerRegions.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
