
<div>
    <h2><span translate="reachoutApp.consumerRegions.detail.title">Consumer Regions</span> {{vm.consumerRegions.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.consumerRegions.created">Created</span></dt>
        <dd>
            <span>{{vm.consumerRegions.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerRegions.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.consumerRegions.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerRegions.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.consumerRegions.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerRegions.version">Version</span></dt>
        <dd>
            <span>{{vm.consumerRegions.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerRegions.consumerId">Consumer Id</span></dt>
        <dd>
            <span>{{vm.consumerRegions.consumerId}}</span>
        </dd>
        <dt><span translate="reachoutApp.consumerRegions.region">Region</span></dt>
        <dd>
            <span>{{vm.consumerRegions.region}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
