<div>
    <h2 translate="reachoutApp.region.home.title">Regions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="region.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.region.home.createLabel">
                        Create new Region
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.region.created">Created</span></th>
                    <th><span translate="reachoutApp.region.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.region.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.region.version">Version</span></th>
                    <th><span translate="reachoutApp.region.name">Name</span></th>
                    <th><span translate="reachoutApp.region.location">Location</span></th>
                    <th><span translate="reachoutApp.region.radius">Radius</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="region in vm.regions track by region.id">
                    <td><a ui-sref="region-detail({id:region.id})">{{region.id}}</a></td>
                    <td>{{region.created | date:'medium'}}</td>
                    <td>{{region.deleted | date:'medium'}}</td>
                    <td>{{region.lastUpdate | date:'medium'}}</td>
                    <td>{{region.version}}</td>
                    <td>{{region.name}}</td>
                    <td>{{region.location}}</td>
                    <td>{{region.radius}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="region-detail({id:region.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="region.edit({id:region.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="region.delete({id:region.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
