
<div>
    <h2><span translate="reachoutApp.region.detail.title">Region</span> {{vm.region.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.region.created">Created</span></dt>
        <dd>
            <span>{{vm.region.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.region.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.region.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.region.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.region.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.region.version">Version</span></dt>
        <dd>
            <span>{{vm.region.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.region.name">Name</span></dt>
        <dd>
            <span>{{vm.region.name}}</span>
        </dd>
        <dt><span translate="reachoutApp.region.location">Location</span></dt>
        <dd>
            <span>{{vm.region.location}}</span>
        </dd>
        <dt><span translate="reachoutApp.region.radius">Radius</span></dt>
        <dd>
            <span>{{vm.region.radius}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
