
<div>
    <h2><span translate="reachoutApp.deviceInfo.detail.title">Device Info</span> {{vm.deviceInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="reachoutApp.deviceInfo.created">Created</span></dt>
        <dd>
            <span>{{vm.deviceInfo.created | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.deviceInfo.deleted | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.lastUpdate">Last Update</span></dt>
        <dd>
            <span>{{vm.deviceInfo.lastUpdate | date:'medium'}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.version">Version</span></dt>
        <dd>
            <span>{{vm.deviceInfo.version}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.device">Device</span></dt>
        <dd>
            <span>{{vm.deviceInfo.device}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.sdk">Sdk</span></dt>
        <dd>
            <span>{{vm.deviceInfo.sdk}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.model">Model</span></dt>
        <dd>
            <span>{{vm.deviceInfo.model}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.product">Product</span></dt>
        <dd>
            <span>{{vm.deviceInfo.product}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.deviceId">Device Id</span></dt>
        <dd>
            <span>{{vm.deviceInfo.deviceId}}</span>
        </dd>
        <dt><span translate="reachoutApp.deviceInfo.consumerId">Consumer Id</span></dt>
        <dd>
            <span>{{vm.deviceInfo.consumerId}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
