<div>
    <h2 translate="reachoutApp.deviceInfo.home.title">Device Infos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="device-info.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="reachoutApp.deviceInfo.home.createLabel">
                        Create new Device Info
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.deviceInfo.created">Created</span></th>
                    <th><span translate="reachoutApp.deviceInfo.deleted">Deleted</span></th>
                    <th><span translate="reachoutApp.deviceInfo.lastUpdate">Last Update</span></th>
                    <th><span translate="reachoutApp.deviceInfo.version">Version</span></th>
                    <th><span translate="reachoutApp.deviceInfo.device">Device</span></th>
                    <th><span translate="reachoutApp.deviceInfo.sdk">Sdk</span></th>
                    <th><span translate="reachoutApp.deviceInfo.model">Model</span></th>
                    <th><span translate="reachoutApp.deviceInfo.product">Product</span></th>
                    <th><span translate="reachoutApp.deviceInfo.deviceId">Device Id</span></th>
                    <th><span translate="reachoutApp.deviceInfo.consumerId">Consumer Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deviceInfo in vm.deviceInfos track by deviceInfo.id">
                    <td><a ui-sref="device-info-detail({id:deviceInfo.id})">{{deviceInfo.id}}</a></td>
                    <td>{{deviceInfo.created | date:'medium'}}</td>
                    <td>{{deviceInfo.deleted | date:'medium'}}</td>
                    <td>{{deviceInfo.lastUpdate | date:'medium'}}</td>
                    <td>{{deviceInfo.version}}</td>
                    <td>{{deviceInfo.device}}</td>
                    <td>{{deviceInfo.sdk}}</td>
                    <td>{{deviceInfo.model}}</td>
                    <td>{{deviceInfo.product}}</td>
                    <td>{{deviceInfo.deviceId}}</td>
                    <td>{{deviceInfo.consumerId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="device-info-detail({id:deviceInfo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="device-info.edit({id:deviceInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="device-info.delete({id:deviceInfo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
