
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDeviceInfoLabel" translate="reachoutApp.deviceInfo.home.createOrEditLabel">Create or edit a Device Info</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.deviceInfo.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.deviceInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.deviceInfo.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.deleted" for="field_deleted">Deleted</label>
                <div class="input-group">
                    <input id="field_deleted" type="text" class="form-control" name="deleted" datetime-picker="{{dateformat}}" ng-model="vm.deviceInfo.deleted" is-open="vm.datePickerOpenStatus.deleted"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deleted')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.lastUpdate" for="field_lastUpdate">Last Update</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.deviceInfo.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.deviceInfo.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.device" for="field_device">Device</label>
            <input type="text" class="form-control" name="device" id="field_device"
                    ng-model="vm.deviceInfo.device"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.sdk" for="field_sdk">Sdk</label>
            <input type="text" class="form-control" name="sdk" id="field_sdk"
                    ng-model="vm.deviceInfo.sdk"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.model" for="field_model">Model</label>
            <input type="text" class="form-control" name="model" id="field_model"
                    ng-model="vm.deviceInfo.model"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.product" for="field_product">Product</label>
            <input type="text" class="form-control" name="product" id="field_product"
                    ng-model="vm.deviceInfo.product"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.deviceId" for="field_deviceId">Device Id</label>
            <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                    ng-model="vm.deviceInfo.deviceId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reachoutApp.deviceInfo.consumerId" for="field_consumerId">Consumer Id</label>
            <input type="text" class="form-control" name="consumerId" id="field_consumerId"
                    ng-model="vm.deviceInfo.consumerId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
